body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    padding: 30px;
}

.left{
    position: absolute;
    left: 28px;
    top: 0px;
    display: inline-block;
    /* border: 2px solid red; */
    margin: 20px;
    text-align: center;
}

.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    /* border: 2px solid green; */
}

.right{
    position: absolute;
    top: 64px;
    right: 29px;
    display: inline-block;
    /* border: 2px solid yellow; */
    margin: 20px;
    font-family: Mukta;
}

.left img{
    width: 70%;
}

.mid div{
    font-family: 'Allura', cursive;
    font-size: 60px;
    color: white;
    text-align: center;
}

.navbar{
    background-color: cadetblue;
}

.navbar ul{
    overflow: auto;
    margin: 0px;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 7px 20px;
}

#home:hover, #about-us:hover, #gallery:hover, #our-products:hover, #contact-us:hover{
    transform: scale(1.2);
}

.navbar li a{
    text-decoration: none;
    padding: 3px 18px;
    color: black;
    font-family: Mukta;
    font-weight: bolder;
}

.navbar li a:hover{
    /* text-decoration: underline; */
}

.right .email:hover{
    font-weight: bold;
    color: rgb(151, 130, 77);
    cursor: pointer;
}

.right .call:hover{
    font-weight: bold;
    color: rgb(151, 130, 77);
    cursor: pointer;
}

.navbar .linkedin{
    display: inline-block;
    position: absolute;
    right: 122px;
    top: 187px;
}

.linkedin:hover, .insta:hover, .facebook:hover{
    transform: scale(1.2);
}

.navbar .insta{
    display: inline-block;
    position: absolute;
    top: 187px;
    right: 85px;
}

.navbar .facebook{
    display: inline-block;
    position: absolute;
    top: 187px;
    right: 51px;
}

.user{
    /* border: 2px solid grey; */
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 50px;
    font-family: Mukta;
    font-weight: bold;
}

button{
    cursor: pointer;
}

.navbar li a:active{
    color: grey;
}
/* rgb(68, 48, 43) */

.user .login:hover{
    color: rgb(151, 130, 77);
    cursor: pointer;
}

.user .cart:hover{
    color: rgb(151, 130, 77);
    cursor: pointer;
}

.mid div:hover{
    color: rgb(151, 130, 77);
}

.bg-parallax{
    background-image: url('diero_bg.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Flex section */

.flex{
    display: flex;
    flex-direction: column;
}

/* Why Tea Premix Section */

.why-tea-premix{
    background-color: black;
    color: white;
    padding: 0px 50px;
    text-align: justify;
    /* font-family: Mukta; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tea-title{
    color: cadetblue;
}

#more{
    display: none;
}

#read-more{
    margin-bottom: 15px;
    background-color: cadetblue;
    color: black;
    padding: 7px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

#read-more:hover{
    background-color: rgb(177, 177, 177);
    color: black;
}

/* Coffee Parallax Section */

.coffee-parallax{
    background-image: url('coffee_parallax.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.double-quotes{
    color: rgb(188, 188, 188);
    font-size: 50px;
}

.coffee-quote{
    background-color: #635C56;
    width: 20%;
    color: white;
    font-size: 43px;
    padding: 30px;
    margin-left: 35px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Tinos', serif;
}

.bold{
    font-style: italic;
    /* font-family: Allura; */
    font-size: 47px;
}

/* We Care Section */

.tea-plant-heading{
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    position: relative;
    top: 230px;
    left: 600px;
}

.tea-plant{
    background-image: url('tea_plant.jpg') ;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tea-plant img{
    width: 100%;
}

.black_bg{
    background-color: black;
}

/* About Us Section */

.about-section{
    background-color: cadetblue;
    
}

/* Contact Us Page */

#contact-box form{
    width: 40%;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
    /* background: url('contact_us.jpg') no-repeat center center/cover; */
}

#contact-box h1, #contact-box h4{
    font-family: Mukta;
}

#contact-box input[type="text"], #contact-box input[type="email"], #contact-box input[type="number"], #contact-box textarea, #contact-box select{
    width: 100%;
    padding: 0.2rem;
    padding-left: 20px;
    border-radius: 19px;
    font-size: 1.1rem;
    font-family: Mukta;
    font-weight: 800;
    color: rgb(79, 78, 78);
    border: 2px solid black;
}

input[type="submit"]{
    border: 2px solid black;
    border-radius: 23px;
    padding: 5px;
    color: black;
    font-family: Mukta;
    font-weight: bold;
    font-size: 1.2rem;
    width: 30%;
    display: block;
    position: relative;
    margin: 23px auto;
    left: 7px;
}

input[type='submit']:hover{
    background-color: grey;
    cursor: pointer;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: Mukta;
    font-weight: bold;
}

/* Our Products Page */

.our-products-page{
    margin: 50px;
}

.products-title{
    text-align: center;
    padding-bottom: 20px;
}

.vending-machine{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
}

.beverages-mix{
    display: flex;
    flex-direction: column;
    border: 2px solid rebeccapurple;
    align-items: center;
    justify-content: center;
}

.main-types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.two-lane, .three-lane, .four-lane{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
}

.vending-machine-types{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
}

.cardamom-tea, .cardamom-masala-tea, .masala-tea, .ginger-tea, .lemon-tea, .regular-coffee, .cappuccino-coffee, .hazzlenut-coffee, .lemongrass-tea-coffee, .tulsi-tea, .vanilla-tea, .vanilla-coffee, .peach-tea, .hot-chocolate, .honey-tea, .green-tea, .strawberry-tea, .chocolate-coffee, .nimbu-pani, .sugarcane-juice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid brown;
}

.cardamom-tea:hover, .cardamom-masala-tea:hover, .masala-tea:hover, .ginger-tea:hover, .lemon-tea:hover, .regular-coffee:hover, .cappuccino-coffee:hover, .hazzlenut-coffee:hover, .lemongrass-tea-coffee:hover, .tulsi-tea:hover, .vanilla-tea:hover, .vanilla-coffee:hover, .peach-tea:hover, .hot-chocolate:hover, .honey-tea:hover, .green-tea:hover, .strawberry-tea:hover, .chocolate-coffee:hover, .nimbu-pani:hover, .sugarcane-juice:hover{
    transform: scale(1.2);
}

.beverages-mix-title{
    text-align: center;
    margin: 50px;
}

.beverages-mix-types{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    border: 2px solid blue;
}
