*{
    margin: 0;
    padding: 0;
    font-family: Mukta;
}

/* Color Palette */

/* colors{
    background-color: #3D2D1F;
    background-color: #DDD5B4;
    background-color: #A2987D;
    background-color: #94847C;
} */


/* HEADER SECTION */

.container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.logo{
    margin-left: 2.5em;
    display: flex;
    align-items: center;
    padding: 0.2em 0em;
}

.logo img{
    width: 9vw;
    height: auto;
    cursor: pointer;
}

.diero-title{
    font-family: 'Allura', cursive;
    font-size: 60px;
    font-size: 5vw;
    display: flex;
    align-items: center;
    padding: 0em 1em;
    text-align: center;
    cursor: pointer;
}

.user{
    display: flex;
    margin-right: 2.5em;
    margin-right: 2.5vw;
}

.login, .cart{
    font-weight: bold;
    padding: 1em 1em;
    font-size: 1vw;
    cursor: pointer;
}

.diero-title:hover{
    color: rgb(151, 130, 77);
}

.user .login:hover{
    color: rgb(151, 130, 77);
    cursor: pointer;
}

.user .cart:hover{
    color: rgb(151, 130, 77);
    cursor: pointer;
}

/* NAVBAR SECTION */

/* .navbar{
    background-color: #6c534e;
    background-color: #9D9171;
    background-color: #937D64;
    background-color: #553a41;
    background-color: rgb(138, 164, 161);

    background-color: #8b8164;
    position: sticky;
    top: 0;
} */

/* .navbar ul{
    overflow: auto;
    margin: 0px;
    margin-left: 40px; 
}

.navbar li{
    float: left;
    list-style: none;
    margin: 7px 20px;
}

.navbar li a{
    text-decoration: none;
    padding: 8px 18px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.navbar li a:hover{
    background-color: #3D2D1F;
    color: white;
} */

/* rgb(68, 48, 43) */


/* BACKGROUND PARALLAX SECTION */

/* .bg-parallax{
    background-image: url('diero_bg.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex{
    display: flex;
    flex-direction: column;
} */


/* ARTICLE SECTION */

/* .why-tea-premix{
    background-color: black;
    color: white;
    padding: 0px 50px;
    text-align: justify;
    font-family: Mukta;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.tea-title{
    color: #94847C;
    padding: 20px 0px;
    font-size: 30px;
}

.para1, .para2{
    padding-bottom: 20px;
    font-size: 20px;
}

.para2-tea{
    font-size: 20px;
} */


/* HIDDEN ARTICLE SECTION */

/* #more{
    display: none;
}

#read-more{
    margin: 15px 0px;
    background-color: #94847C;
    color: black;
    padding: 7px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-radius: 10px;
}

#read-more:hover{
    background-color: rgb(177, 177, 177);
    color: black;
} */


/* COFFEE AND QUOTES SECTION */

/* .coffee-parallax{
    background-image: url('coffee_parallax.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.double-quotes{
    color: rgb(188, 188, 188);
    font-size: 50px;
}

.coffee-quote{
    background-color: #635C56;
    width: 20%;
    color: white;
    text-align: center;
    font-size: 43px;
    padding: 20px;
    padding-bottom: 25px;
    padding-left: 15px;
    margin-left: 35px;
    margin-top: 35px;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Tinos', serif;
}

.italic{
    font-family: Allura;
    font-style: italic;
    font-size: 47px;
} */


/* WE CARE SECTION */

/* .tea-plant-heading{
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    position: relative;
    top: 230px;
    left: 600px;
    opacity: 0.7;
}

.tea-plant{
    background-image: url('tea_plant.jpg') ;
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tea-plant img{
    width: 100%;
}

.black_bg{
    background-color: black;
} */


/* OUR VALUES SECTION */

/* .about-section{
    background-color: #A2987D;
    
} */